services:
  postgres:
    image: "postgres:latest"
    environment:
      - POSTGRES_PASSWORD=postgres_password
  gateway:
    build: ./nginx
    ports:
      - "80:80"
    depends_on:
      - client
      - api
  client:
    build: ./client
    ports:
      - 7777:7777
  api:
    build: ./server
    ports:
      - 5000:5000
    environment:
      PGDATABASE: postgres
      PGUSER: postgres
      PGPASSWORD: postgres_password
      PGHOST: postgres
      PGPORT: 5432
      REDIS_HOST: redis
      REDIS_PORT: 6379
  redis:
    image: redis:latest
    ports:
      - "6379:6379"
  worker:
    build: ./worker
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
volumes:
  db_data: